.flex-div-for-all-popular-products {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.div-for-all-popular-products {
  display: flex;
  gap: 20px;
  /* width: 80em; */
  flex-wrap: wrap;
  justify-content: center;
}
.shop-page-heading {
  padding-left: 4.5em;
  font-size: 30px;
  font-family: 'Dancing Script', cursive;
}
@media (min-width: 320px) and (max-width: 425px) {
  .flex-div-for-all-popular-products {
    width: 100%;
    padding: 1em;
  }
}
